body.no_scroll {
	position: fixed;
	overflow: hidden !important;
}

body.no_scroll #main {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

button > span {
	position: relative;
}

.dimmed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.8);
}

.dimmed.type_munu {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease-in-out .8s;
	transition: all ease-in-out .8s;
}

.dimmed.type_munu.on {
	opacity: 1;
	visibility: visible;
}

.dimmed.trans {
	background-color: transparent;
}

.meun_hambuger {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 26px;
	height: 26px;
	vertical-align: top;
	text-align: right;
}

.meun_hambuger .center_line, .meun_hambuger:before, .meun_hambuger:after {
	display: block;
	height: 2px;
	background-color: #333;
	content: '';
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	-webkit-transform-origin: left;
	transform-origin: left;
}

.meun_hambuger .center_line {
	width: 20px;
	margin: 8px 0;
	margin-left: auto;
	vertical-align: top;
}

.meun_hambuger:before, .meun_hambuger:after {
	width: 120%;
}

.hidden_select {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
}

@media all and (max-width: 1023px) {
	.meun_hambuger {
		width: 21px;
		height: 18px;
		padding: 6px;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	.meun_hambuger:after, .meun_hambuger:before,
	.meun_hambuger .center_line {
		height: 1px;
	}
	.meun_hambuger .center_line {
		width: 16px;
		margin: 6px 0;
		margin-left: auto;
	}
	.meun_hambuger.type_mo_gnb {
		position: absolute;
		top: 50%;
		right: 9px;
		margin-top: -15px;
	}
	.meun_hambuger:before, .meun_hambuger:after {
		width: 100%;
	}
	.dimmed.type_munu {
		display: none;
	}
}

@media all and (max-width: 1200px) {
	.tablet_br {
		display: block;
	}
}

@media all and (min-width: 1024px) {
	.onlyPc {
		display: block !important;
	}
	.onlyMo {
		display: none !important;
	}
	.mobile_br {
		display: none !important;
	}
}

@media all and (max-width: 1023px) {
	.onlyPc {
		display: none !important;
	}
	.onlyMo {
		display: block !important;
	}
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 50;
	text-align: center;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

#header .logo {
	position: absolute;
	top: 33px;
	top: 2.063rem;
	left: 60px;
	left: 3.75rem;
}

#header .logo a {
	display: block;
	width: 166px;
	height: 43px;
	background-image: url(../img/pc/common/logo_white.png);
}

#header.on {
	background-color: #fff;
}

#header.on .logo a {
	background-image: url(../img/pc/common/logo_red.png);
}

#header.scroll {
	background-color: transparent;
}

#header.scroll .logo a {
	background-image: url(../img/pc/common/logo_red.png);
}

.sub #header.on:before {
	position: absolute;
	right: 0;
	left: 0;
	bottom: -1px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
	content: '';
}

#gnb {
	position: relative;
	display: inline-block;
	z-index: 3;
}

.list_gnb {
	font-size: 0;
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

.list_gnb > li {
	position: relative;
	display: inline-block;
}

.list_gnb > li > a {
	position: relative;
	display: block;
	padding: 0 29px;
	padding: 0 1.813rem;
	color: #fff;
}

.list_gnb > li .name_gnb {
	position: relative;
	display: block;
	padding: 36px 0 37px;
	padding: 2.25rem 0 2.313rem;
	font-size: 18px;
	font-size: 1.125rem;
}

.list_gnb > li.on .name_gnb:after {
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;
	z-index: 5;
	height: 2px;
	background-color: #ed1c23;
	content: '';
}

.list_gnb.on > li > a {
	color: #222;
}

.list_gnb.scroll {
	-webkit-transform: translateX(150px);
	transform: translateX(150px);
	opacity: 0;
	visibility: hidden;
}

.gnb_depth {
	display: none;
	position: absolute;
	top: 100%;
	left: 29px;
	left: 1.813rem;
	z-index: 3;
	white-space: nowrap;
}

.gnb_depth > li {
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
}

.gnb_depth > li + li {
	margin-left: 50px;
	margin-left: 3.125rem;
}

.gnb_depth > li > a {
	display: block;
	padding: 17px 0;
	padding: 1.063rem 0;
	color: #666;
}

.gnb_depth > li > a:hover, .gnb_depth > li > a:focus {
	color: #ed1c23;
}

.gnb_depth.depth_last {
	right: 31px;
	right: 1.938rem;
	left: auto;
}

.depth_bg {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	height: 0;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

.depth_bg:before {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
	content: '';
}

.depth_bg.on {
	opacity: 1;
	height: 56px;
	height: 3.5rem;
}

@media all and (max-width: 1400px) {
	#header {
		padding-right: 120px;
		padding-right: 7.5rem;
		text-align: right;
	}
	#header .logo {
		top: 30px;
		top: 1.875rem;
		left: 45px;
		left: 2.813rem;
	}
	#header .name_gnb {
		font-size: 17px;
	}
	#header .list_gnb .gnb_depth > li {
		font-size: 16px;
	}
}

@media all and (max-width: 1023px) {
	#gnb,
	.fixed_lnb {
		display: none;
	}
	#header {
		padding: 3px 0;
		background-color: #fff !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	#header .logo {
		position: static;
		text-align: center;
	}
	#header .logo a {
		display: inline-block;
		background-image: url(../img/m/sp_common.png) !important;
		width: 170px;
		height: 28.5px;
		background-size: 204px 139px;
		background-position: 0px 0px;
	}
	#mo_gnb {
		overflow-y: auto;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		width: 100%;
		bottom: 0;
		background-color: #ddd;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: all ease-in-out .3s;
		transition: all ease-in-out .3s;
	}
	#mo_gnb.on {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	#mo_gnb.on + .type_mo_gnb {
		opacity: 1;
		visibility: visible;
	}
	.mo_gnb_wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #ed1c23;
		padding-top: 50px;
		padding-top: 3.846rem;
	}
	.list_mo_quick_menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}
	.list_mo_quick_menu > li {
		position: relative;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		text-align: center;
	}
	.list_mo_quick_menu > li + li {
		border-left: 1px solid rgba(255, 255, 255, 0.5);
	}
	.list_mo_quick_menu > li .dimmed {
		display: none;
		opacity: 0.3;
	}
	.list_mo_quick_menu > li.sns .list_mo_sns_share {
		display: block;
	}
	.list_mo_quick_menu > li.sns .dimmed {
		display: block;
	}
	.list_mo_quick_menu > li .ico_mo_quick {
		display: block;
		width: 100%;
		padding: 20px 0 15px;
		padding: 1.538rem 0 1.154rem;
	}
	.list_mo_quick_menu > li .ico_mo_quick:before {
		display: inline-block;
		content: '';
	}
	.list_mo_quick_menu > li .ico_mo_quick.ico_floor:before {
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 32px;
		height: 32px;
		background-position: 0px -70px;
	}
	.list_mo_quick_menu > li .ico_mo_quick.ico_map:before {
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 29px;
		height: 33px;
		background-position: -175px 0px;
	}
	.list_mo_quick_menu > li .ico_mo_quick.ico_park:before {
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 32px;
		height: 32px;
		background-position: -37px -70px;
	}
	.list_mo_quick_menu > li .ico_mo_quick.ico_sns:before {
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 32px;
		height: 32px;
		background-position: 0px -107px;
	}
	.list_mo_quick_menu > li .name {
		display: block;
		margin-top: 4px;
		margin-top: 0.308rem;
		font-size: 13px;
		font-size: 1rem;
		color: #fff;
	}
	.list_mo_sns_share {
		display: none;
		position: absolute;
		top: 100%;
		right: 15px;
		right: 1.154rem;
		left: 15px;
		left: 1.154rem;
		z-index: 9999;
		margin-top: 15px;
		margin-top: 1.154rem;
		padding: 20px 0;
		padding: 1.538rem 0;
		background-color: #fff;
		border-radius: 10px;
		border-radius: 0.769rem;
	}
	.list_mo_sns_share > li {
		text-align: center;
	}
	.list_mo_sns_share > li + li {
		margin-top: 15px;
		margin-top: 1.154rem;
	}
	.list_mo_sns_share > li > a {
		display: block;
	}
	.list_mo_sns_share > li > a:before {
		display: inline-block;
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		content: '';
	}
	.list_mo_sns_share > li > a.mo_sns_fb:before {
		width: 32px;
		height: 32px;
		background-position: -74px -70px;
	}
	.list_mo_sns_share > li > a.mo_sns_blog:before {
		width: 32px;
		height: 32px;
		background-position: -111px -70px;
	}
	.list_mo_sns_share > li > a.mo_sns_insta:before {
		width: 32px;
		height: 32px;
		background-position: -37px -107px;
	}
	.dimmed.type_mo_gnb {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all ease-in-out .2s;
		transition: all ease-in-out .2s;
	}
	.list_mo_gnb {
		background-color: #fff;
	}
	.btn_mo_gnb {
		display: block;
		position: relative;
		width: 100%;
		padding: 19px 15px 20px;
		padding: 1.462rem 1.154rem 1.538rem;
		border-bottom: 1px solid #ddd;
		font-size: 19px;
		font-size: 1.462rem;
		font-weight: 500;
		color: #222;
		text-align: left;
	}
	.btn_mo_gnb:before, .btn_mo_gnb:after {
		position: absolute;
		top: 50%;
		right: 15px;
		right: 1.154rem;
		width: 20px;
		width: 1.538rem;
		height: 1px;
		background-color: #000;
		content: '';
		-webkit-transition: all ease-in-out .2s;
		transition: all ease-in-out .2s;
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	.btn_mo_gnb:after {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.btn_mo_gnb.on:after {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	.list_mo_gnb_depth {
		display: none;
		padding: 10px 0;
		padding: 0.769rem 0;
		background-color: #f5f5f5;
		border-bottom: 1px solid #ddd;
	}
	.list_mo_gnb_depth > li > a {
		display: block;
		padding: 6px 30px 7px;
		padding: 0.462rem 2.308rem 0.538rem;
		font-size: 15px;
		font-size: 1.154rem;
	}
	.list_mo_gnb_depth > li.on > a {
		color: #ed1c23;
	}
	.mall_info_area {
		padding: 15px 15px;
		padding: 1.154rem 1.154rem;
		background-color: #ddd;
	}
	.mall_info_area .mo_select_mall .link_info_mall {
		font-size: 15px;
		font-size: 1.154rem;
		font-weight: 500;
		color: #222;
	}
	.mall_info_area .mo_select_mall .link_info_mall:before {
		display: inline-block;
		margin-right: 7px;
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 13.5px;
		height: 13.5px;
		background-position: -175px -64px;
		content: '';
		vertical-align: middle;
	}
	.mo_link_wrap {
		position: relative;
		margin: 15px 0;
		margin: 1.154rem 0;
	}
	.mo_link_wrap .btn_mall_link {
		position: relative;
		width: 100%;
		padding: 14px 20px;
		padding: 1.077rem 1.538rem;
		background-color: #fff;
		font-size: 15px;
		font-size: 1.154rem;
		color: #666;
		text-align: left;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mo_link_wrap .btn_mall_link:after {
		position: absolute;
		top: 50%;
		right: 20px;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-width: 0.462rem 0.385rem 0 0.385rem;
		border-color: #000 transparent transparent transparent;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		content: '';
	}
	.mo_gnb_option {
		position: absolute;
		top: 10px;
		top: 0.769rem;
		right: 10px;
		right: 0.769rem;
	}
	.mo_gnb_close {
		padding: 5px;
	}
	.mo_gnb_close:before {
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 21px;
		height: 21px;
		background-position: -175px -38px;
		display: inline-block;
		vertical-align: top;
		content: '';
	}
}

#sidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 51;
	width: 70px;
	height: 100%;
	background-color: #fff;
	text-align: center;
}

#sidebar:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.08);
	content: '';
}

#sidebar > .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.top_btn_area {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	overflow: hidden;
	text-align: center;
}

.top_btn_area > .inner {
	display: inline-block;
	position: relative;
	width: 36px;
	height: 36px;
	overflow: hidden;
	margin-top: 23px;
	margin-top: 1.438rem;
}

.top_btn_area.scroll .el_lotte_ci {
	-webkit-transform: translateX(120%);
	transform: translateX(120%);
}

.top_btn_area.scroll .btn_side_menu {
	left: 0;
}

.el_lotte_ci {
	display: inline-block;
	width: 33px;
	height: 33px;
	background: url(../img/pc/sprite.png);
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

.btn_side_menu {
	position: absolute;
	top: 7px;
	left: -120%;
	width: 100%;
	margin-right: -3px;
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

.btn_side_menu.on .meun_hambuger .top_line,
.btn_side_menu.on .meun_hambuger .bottom_line {
	width: 120%;
}

.btn_side_menu.on .meun_hambuger:before {
	-webkit-transform: rotate(45deg) translate(2px, -1px);
	transform: rotate(45deg) translate(2px, -1px);
}

.btn_side_menu.on .meun_hambuger:after {
	-webkit-transform: rotate(-45deg) translate(0, 3px);
	transform: rotate(-45deg) translate(0, 3px);
}

.btn_side_menu.on .center_line {
	opacity: 0;
	-webkit-transform: translate(50px, 0) scale(0);
	transform: translate(50px, 0) scale(0);
}

.box_side_menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.list_side_menu {
	padding: 10px 0;
}

.list_side_menu > li {
	line-height: 1.1;
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

.list_side_menu > li .side_icon_wrap {
	position: relative;
}

.list_side_menu > li + li {
	margin-top: 4.8vh;
}

.list_side_menu .ico_side_menu {
	display: inline-block;
	background-repeat: no-repeat;
	background: url(../img/pc/sprite.png);
	width: 32px;
	height: 32px;
}

.list_side_menu .ico_side_menu.ico_floor {
	background-position: -45px 0;
}

.list_side_menu .ico_side_menu.ico_map {
	height: 34px;
	background-position: -90px 0;
}

.list_side_menu .ico_side_menu.ico_park {
	background-position: -135px 0;
}

.list_side_menu .ico_side_menu.ico_share {
	background-position: -180px 0;
}

.list_side_menu .ico_side_menu.ico_insta {
	background-position: -225px 0;
}

.list_side_menu .ico_side_menu.ico_blog {
	background-position: -270px 0;
}

.list_side_menu .ico_side_menu.ico_facebook {
	background-position: -315px 0;
}

.list_side_menu .ico_side_menu.on, .list_side_menu .ico_side_menu:hover {
	background-position-y: -45px;
}

.list_side_menu .ico_side_menu.on + .tooltip_side_menu, .list_side_menu .ico_side_menu:hover + .tooltip_side_menu {
	opacity: 1;
	visibility: visible;
	right: 100%;
}

.list_side_menu .tooltip_side_menu {
	position: absolute;
	top: 0;
	right: 130%;
	margin-right: 35px;
	background-color: #ed1c23;
	white-space: nowrap;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.list_side_menu .tooltip_side_menu > p {
	position: relative;
	padding: 9px 20px;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 200;
	color: #fff;
	letter-spacing: 0;
}

.list_side_menu .tooltip_side_menu > p:before {
	display: inline-block;
	width: 15px;
	height: 14px;
	margin: -2px 10px 0 0;
	background: url(../img/pc/sprite.png) no-repeat;
	background-position: 0 -45px;
	vertical-align: middle;
	content: '';
}

.list_side_menu .tooltip_side_menu > p:after {
	position: absolute;
	top: 50%;
	left: 99%;
	margin-top: -6px;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent transparent transparent #ed1c23;
	content: '';
}

.list_side_basic {
	position: relative;
}

.list_side_basic.on > li:not(:last-child) {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(-30px);
	transform: translateX(-30px);
}

.list_side_basic > li:not(:last-child) {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.list_slide_sns {
	z-index: -1;
	position: absolute;
	top: 0;
}

.list_slide_sns > li {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
}

.list_slide_sns > li + li {
	margin-top: 5.1vh;
}

.list_slide_sns.on {
	z-index: 1;
}

.list_slide_sns.on > li {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.list_slide_sns .tooltip_side_menu > p:before {
	display: none;
}

.box_market_list {
	position: relative;
	-webkit-box-flex: 2;
	-ms-flex: 2 0 auto;
	flex: 2 0 auto;
	background-color: #ed1c23;
	max-height: 540px;
}

.list_markt_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	height: 100%;
	word-break: keep-all;
}

.list_markt_info.type_accodion {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -9999;
	right: -365%;
	-webkit-transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.09);
	box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.09);
}

.list_markt_info.type_accodion > li.first {
	width: 0;
}

.list_markt_info.type_accodion > li.first.active {
	width: 350px;
	width: 21.875rem;
}

.list_markt_info.type_accodion.before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.list_markt_info.type_accodion.on {
	right: -421px;
	right: -26.313rem;
}

.list_markt_info > li {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 70px;
	-webkit-transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	overflow: hidden;
}

.list_markt_info > li + li {
	position: relative;
	border-right: 1px solid #ddd;
}

.list_markt_info > li.first .wrap_market_name {
	background-color: #ed1c23;
}

.list_markt_info > li.first .title_open_time {
	background-color: #fff;
	color: #ed1c23;
}

.list_markt_info > li.first .wrap_market_info {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	background-color: #ed1c23;
	color: #fff;
}

.list_markt_info > li.first .info_open_day:after {
	background-color: #fff;
}

.list_markt_info > li.first .title_market {
	color: #fff;
}

.list_markt_info > li.first .btn_market_more:before, .list_markt_info > li.first .btn_market_more:after {
	background-color: #fff;
}

.list_markt_info > li.active {
	width: 420px;
	width: 26.25rem;
}

.list_markt_info .wrap_market_name {
	width: 70px;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 70px;
	flex: 1 0 70px;
	position: relative;
	background-color: #fff;
}

.list_markt_info .title_market {
	display: inline-block;
	margin-top: 38px;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 400;
	color: #ed1c23;
	line-height: 1.1;
}

.list_markt_info .btn_market_more {
	position: absolute;
	bottom: 41px;
	left: 0;
	right: 0;
	width: 26px;
	height: 26px;
	margin: 0 auto;
	text-align: center;
}

.list_markt_info .btn_market_more:before, .list_markt_info .btn_market_more:after {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 2px;
	background-color: #ed1c23;
	content: '';
}

.list_markt_info .btn_market_more:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}

.list_markt_info .btn_market_more.on:after {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.wrap_market_info {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 350px;
	width: 21.875rem;
	padding: 35px 60px;
	padding: 2.188rem 3.75rem;
	border-right: 1px solid #f0535a;
	background-color: #fff;
	color: #ed1c23;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap_market_info .lotte_name {
	text-transform: capitalize;
	font-weight: 300;
}

.wrap_market_info .name_market {
	display: block;
	margin-top: 7px;
	margin-top: 0.438rem;
	font-size: 28px;
	font-size: 1.75rem;
}

.wrap_market_info .info_open_day {
	position: relative;
	margin-top: 34px;
	margin-top: 2.125rem;
	padding-top: 29px;
	padding-top: 1.813rem;
	font-family: 'Roboto';
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: 300;
}

.wrap_market_info .info_open_day:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	background-color: #ed1c23;
	content: '';
}

.wrap_market_info .info_open_day .data_day {
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	font-size: 24px;
	font-size: 1.5rem;
}

.wrap_market_info .info_open_day .desc_txt {
	font-family: 'NotoSans';
	margin-top: 3px;
	margin-top: 0.188rem;
	font-size: 16px;
	font-size: 1rem;
}

.wrap_open_time {
	margin-top: 39px;
	margin-top: 2.438rem;
}

.wrap_open_time .title_open_time {
	display: block;
	padding: 9px 0;
	padding: 0.563rem 0;
	background-color: #ed1c23;
	color: #fff;
	font-weight: 300;
}

.wrap_open_time .list_open_time {
	margin-top: 13px;
	margin-top: 0.813rem;
}

.wrap_open_time .list_open_time > li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.wrap_open_time .list_open_time > li + li {
	margin-top: 16px;
	margin-top: 1rem;
}

.wrap_open_time .list_open_time > li > strong,
.wrap_open_time .list_open_time > li > p {
	font-weight: 300;
}

.wrap_open_time .list_open_time > li > strong {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 34px;
	flex: 1 1 34px;
	padding-right: 15px;
	padding-right: 0.938rem;
}

.wrap_open_time .list_open_time > li > p {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	font-family: 'Roboto';
	letter-spacing: -0.8px;
}

.wrap_open_time .list_open_time > li > p > span {
	font-size: 14px;
}

.wrap_open_time .link_visit_site {
	position: relative;
	display: inline-block;
	margin-top: 44px;
	margin-top: 2.75rem;
	padding-right: 36px;
	padding-bottom: 4px;
	border-bottom: 1px solid #ed1c23;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	color: #ed1c23;
}

.wrap_open_time .link_visit_site:before {
	position: absolute;
	top: 50%;
	right: 0;
	width: 16px;
	height: 16px;
	margin-top: -11px;
	background: url(../img/pc/sprite.png) no-repeat 0 -60px;
	content: '';
}

.fixed_lnb {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 51;
	width: 50%;
	background-color: #fff;
	-webkit-transform: translateX(140%);
	transform: translateX(140%);
	-webkit-transition: all ease-in-out .8s;
	transition: all ease-in-out .8s;
}

.fixed_lnb.on {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.fixed_lnb .btn_side_menu {
	top: 36px;
	right: 22px;
	width: 26px;
	left: inherit;
}

.list_lnb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.list_lnb > li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	padding-left: 80px;
	padding-left: 5rem;
}

.list_lnb > li > a {
	margin-right: auto;
}

.list_lnb > li + li {
	border-top: 1px solid #ededed;
}

.list_lnb > li:hover {
	background-color: #fafafa;
}

.list_lnb .name_lnb {
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: 600;
	color: #333;
}

.list_lnb .lnb_depth {
	margin-top: 20px;
	margin-top: 1.25rem;
}

.list_lnb .lnb_depth:after {
	display: block;
	clear: both;
	content: '';
}

.list_lnb .lnb_depth > li {
	float: left;
}

.list_lnb .lnb_depth > li > a {
	font-size: 18px;
	font-size: 1.125rem;
	color: #666;
}

.list_lnb .lnb_depth > li > a:hover, .list_lnb .lnb_depth > li > a:focus {
	color: #ed1c23;
}

.list_lnb .lnb_depth > li + li {
	margin-left: 50px;
	margin-left: 3.125rem;
}

@media screen and (max-width: 1400px) {
	.wrap_market_info {
		padding: 35px 40px;
		padding: 2.188rem 2.5rem;
	}
}

.footer {
	position: relative;
	background-color: #444;
	z-index: 50;
}

.footer_inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 1200px;
	margin: 0 auto;
	padding: 56px 0 55px;
	padding: 3.5rem 0 3.438rem;
}

.fnb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.fnb > li:hover .name_fnb {
	color: #fff;
}

.fnb .name_fnb {
	font-size: 16px;
	color: #999;
}

.fnb_depth {
	margin-top: 10px;
}

.fnb_depth > li {
	line-height: 1.5;
}

.fnb_depth > li > a {
	font-size: 12px;
	color: #999;
}

.fnb_depth > li > a:hover, .fnb_depth > li > a:focus {
	text-decoration: underline;
}

.footer_logo {
	display: inline-block;
	width: 171px;
	height: 38px;
	background: url(../img/pc/common/footer_logo.png) no-repeat;
}

.footer_site_option {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	position: relative;
	margin-top: 5px;
	margin-left: auto;
	text-align: right;
}

.footer_site_option .familly_site_wrap {
	display: inline-block;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-top: 18px;
}

.footer_site_option .btn_familly_site {
	position: relative;
	width: 224px;
	width: 14rem;
}

.footer_site_option .btn_familly_site .name_familly_btn {
	display: block;
	padding: 11px 15px;
	border: 1px solid #666;
	font-family: "Roboto";
	font-size: 14px;
	text-align: left;
	color: #999;
}

.footer_site_option .btn_familly_site:after {
	position: absolute;
	top: 50%;
	right: 15px;
	border-style: solid;
	border-width: 0 5px 6px 5px;
	border-color: transparent transparent #999 transparent;
	content: '';
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.footer_site_option .btn_familly_site.on {
	z-index: 3;
}

.footer_site_option .btn_familly_site.on:after {
	right: 15px;
	border-width: 6px 5px 0 5px;
	border-color: #999 transparent transparent transparent;
}

.footer_site_option .btn_familly_site.on + .familly_list_wrap {
	display: block;
}

.familly_list_wrap {
	display: none;
	position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	z-index: 3;
	margin-bottom: -1px;
	background-color: #444;
	border: 1px solid #666;
}

.familly_list_wrap > .inner {
	overflow-y: auto;
	max-height: 257px;
	max-height: 16.063rem;
	line-height: 1.9;
	counter-reset: famillySite;
}

.familly_list_wrap .list_familly_site {
	font-size: 14px;
	color: #999;
	text-align: left;
}

.familly_list_wrap .list_familly_site .title_layer_familly {
	padding: 8px 15px 10px;
	padding: 0.5rem 0.938rem 0.625rem;
	border-bottom: 1px solid #666;
	color: #ccc;
}

.familly_list_wrap .list_familly_site .title_layer_familly:before {
	counter-increment: famillySite;
	content: counter(famillySite) ". ";
}

.familly_list_wrap .list_familly_site .item_familly {
	margin: 8px 0;
}

.familly_list_wrap .list_familly_site a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	padding: 0 15px;
	padding: 0 0.938rem;
	color: #999;
	line-height: 1.8;
}

.familly_list_wrap .list_familly_site a:hover, .familly_list_wrap .list_familly_site a:focus {
	color: #bbb;
}

.familly_list_wrap .list_familly_site + .list_familly_site .title_layer_familly {
	border-top: 1px solid #666;
}

.familly_list_wrap .list_familly_depth > li > a:before {
	display: inline-block;
	margin-right: 4px;
	content: '-';
}

.footer_info {
	margin-top: 20px;
}

.copyright {
	margin-top: 9px;
	font-family: "Roboto";
	font-size: 12px;
	color: #888;
	letter-spacing: 0;
}

.list_site_info {
	font-size: 0;
}

.list_site_info > li {
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	color: #999;
	letter-spacing: -.25px;
}

.list_site_info > li:first-child {
	color: #f2f2f2;
}

.list_site_info > li + li {
	position: relative;
	padding-left: 14px;
	padding-left: 0.875rem;
	margin-left: 14px;
	margin-left: 0.875rem;
}

.list_site_info > li + li:before {
	position: absolute;
	top: 4px;
	bottom: 3px;
	left: 0;
	width: 1px;
	background-color: #dcdcdc;
	content: '';
}

.list_site_info > li a {
	color: inherit;
}

@media all and (max-width: 1360px) {
	.footer_inner {
		margin: 0 85px;
	}
}

@media all and (max-width: 1023px) {
	.footer {
		padding: 0 !important;
	}
	.footer .footer_inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0;
		padding: 30px 0;
		padding: 2.308rem 0;
	}
	.fnb {
		display: none;
	}
	.footer_logo_wrap {
		width: 100%;
		text-align: center;
		-webkit-box-ordinal-group: -99;
		-ms-flex-order: -100;
		order: -100;
	}
	.footer_logo_wrap .footer_logo {
		background-image: url(../img/m/sp_common.png);
		background-size: 204px 139px;
		width: 141px;
		height: 31.5px;
		background-position: 0px -33.5px;
	}
	.list_site_info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.list_site_info li {
		font-size: 14px;
		font-size: 1.077rem;
	}
	.list_site_info li + li {
		padding-left: 7px;
		padding-left: 0.538rem;
		margin-left: 7px;
		margin-left: 0.538rem;
	}
	.list_site_info li.footer_tel {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 100%;
		flex: 1 0 100%;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		margin: 0 0 4px 0;
		padding: 0;
	}
	.list_site_info li.footer_tel:before {
		display: none;
	}
	.footer_site_option {
		margin-top: 0;
		padding: 0 15px;
		padding: 0 1.154rem;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.footer_site_option .btn_familly_site {
		width: 100%;
	}
	.footer_site_option .btn_familly_site:after {
		right: 20px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		margin-top: 0;
	}
	.footer_site_option .familly_site_wrap {
		-webkit-box-ordinal-group: -39;
		-ms-flex-order: -40;
		order: -40;
		-ms-flex-item-align: unset;
		align-self: unset;
		display: block;
		width: 100%;
	}
	.footer_info {
		-webkit-box-ordinal-group: -49;
		-ms-flex-order: -50;
		order: -50;
		margin: 15px 0 0;
		margin: 1.154rem 0 0;
		text-align: center;
	}
	.copyright {
		margin-top: 18px;
		font-size: 12px;
		font-size: 0.923rem;
		text-align: center;
	}
}
/*# sourceMappingURL=common.css.map */
